.welcome-section {
    background-color: rgb(12, 12, 14);
}
  
.welcome-wrapper {
    background-image: url('../../images/main/background-image.jpg');
    height: 575px;
    margin: auto 0;
    display: flex;
    align-items: center;
}
  
.welcome-block {
    width: 600px;
    height: 220px;
    background-color: rgba(12, 12, 14, 1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.welcome-title {
    font-family: 'Forum';
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-align: center;
    padding: 0% 25%;
}