.footer {
    background: rgb(12, 12, 14);
}

.footer-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-first-content-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-addresses {
    width: 229px;
    margin: 20px 0;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    transition: 0.3s;
}

.footer-address {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
}

.footer-addresses:hover {
    color: #bb945f;
}

.footer-first-content-wrapper .footer-work-day {
    width: 149px;
    margin: 20px 0;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
}

.footer-social {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
}
.footer-social:hover {
    transform: scale(1.2);
}

.footer-line {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.footer-last-content-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-last-content-wrapper p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: left;
    margin: 40px 0;
}
.footer-last-content-wrapper .rss-link {
    color: white;
}
.footer-last-content-wrapper .rss-link:hover {
    color: #bb945f;
}

.footer-year {
    width: 173px;
}

@media (max-width: 650px) {
    .footer p {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .footer p {
        font-size: 8px;
    }
    .footer-year {
        width: 124px;
        text-align: left;
    }
}

@media (max-width: 500px) {
    .footer-first-content-wrapper .footer-work-day {
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    .footer-first-content-wrapper .footer-work-day {
        font-size: 8px;
    }
    .footer .footer-name {
        font-size: 8px;
        text-align: right;
    }
    .footer-social {
        width: 16px;
        height: 16px;
        margin-bottom: 10px;
    }
    .footer-first-content-wrapper .footer-work-day {
        width: 50px;
        font-size: 6px;
    }
    .footer-addresses {
        width: 150px;
    }
}