header {
    background-color: rgb(12, 12, 14);
  }
  
.header-wrapper {
  margin: 0 auto;
  max-width: 1440px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.header-title {
  font-size: 30px;
  line-height: 50px;
  font-weight: lighter;
}

.nav-and-sing-logo-wrapper {
  display: flex;
  align-items: center;
}
  
.nav-bar {
  display: flex;
  align-items: center;
}
  
.nav-li {
  margin: 0px 10px;
}

.nav-link {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.nav-link:hover {
  color: rgb(187, 148, 95);
}

#sing-icon {
  margin: 5px 0 0 40px;
}

#sing-icon:hover {
  transition: 0.3s;
  margin-bottom: 3px;
}

/* BURGER-MENU WIDTH - 900PX */

.burger {
  height: 20px;
  display: none;
  margin-left: 40px;
}

.burger-elem {
  display: block;
  box-sizing: content-box;
  content: '';
  width: 45px;
  height: 3px;
  border: 2px;
  background-color: white;
}

.burger-elem:after {
  display: block;
  box-sizing: content-box;
  content: '';
  width: 45px;
  height: 3px;
  border: 2px;
  background-color: white;
  margin-top: 7px;
}

.burger-elem:before {
  display: block;
  box-sizing: content-box;
  content: '';
  width: 45px;
  height: 3px;
  border: 2px;
  background-color: white;
  margin-top: 10px;
}

@media (max-width: 950px) {
  .burger {
    display: flex;
  }
  nav {
    display: none;
  }
  #sing-icon {
    margin-top: 7px;
  }
}

@media (max-width: 500px) {
  .header-title {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .header-title {
    font-size: 16px;
  }
}