header {
    background-color: rgb(12, 12, 14);
  }
  
.header-wrapper {
  margin: 0 auto;
  max-width: 1440px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.header-title {
  font-size: 30px;
  line-height: 50px;
  font-weight: lighter;
}

.nav-and-sing-logo-wrapper {
  display: flex;
  align-items: center;
}
  
.nav-bar {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
  
.nav-li {
  margin: 0px 10px;
}

.nav-link {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.nav-link:hover {
  color: rgb(187, 148, 95);
}

/* IN DROP-MENU */

.drop-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.register-icon {
  width: 28px;
  height: 28px;
  z-index: 1;
}

.drop-menu-no-auth {
  width: 80px;
  height: 115px;
  background-color: white;
  position: absolute;
  top: 70px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 15px;
}

.drop-menu-auth {
  width: 80px;
  height: 115px;
  background-color: white;
  position: absolute;
  top: 70px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 15px;
}

.drop-menu-title {
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #0c0c0e;

  border-bottom: solid 1px #bb945f;
  padding-bottom: 5px;
}

.drop-menu-link {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #0c0c0e;
}

.drop-menu-link:hover {
  color: #bb945f;
}

/* BURGER-MENU WIDTH - 900PX */

.burger {
  height: 20px;
  display: none;
  margin-left: 40px;
}

.burger-elem {
  display: block;
  box-sizing: content-box;
  content: '';
  width: 45px;
  height: 3px;
  border: 2px;
  background-color: white;
  transition: 0.3s;
}

.burger-elem:after {
  display: block;
  box-sizing: content-box;
  content: '';
  width: 45px;
  height: 3px;
  border: 2px;
  background-color: white;
  margin-top: 7px;
}

.burger-elem:before {
  display: block;
  box-sizing: content-box;
  content: '';
  width: 45px;
  height: 3px;
  border: 2px;
  background-color: white;
  margin-top: 10px;
}

@media (max-width: 950px) {
  .burger, #sing-icon {
    z-index: 1;
  }
  .nav-bar {
    position: absolute;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0c0c0e;
    width: 100vh;
    height: 100vh;
    z-index: 0;
    padding-top: 25vh;
    transition: 0.3s;
  }
  .nav-li {
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 40px;
  }
  .non-scroll {
    overflow: hidden;
  }
}

@media (max-width: 950px) {
  .nav-none {
    top: -100%
  }
}

/* burger rotate */

.rotate {
  rotate: 90deg;
  transition: 0.3s;
}

.rotate-pad {
  padding-top: 10px;
}

/* Modals */

.modal-log-in {                                     /* Modal log in */
  width: 250px;
  height: 262px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 5;
}

.modal-log-in-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 160px;
}

.modal-log-in-title {
  font-family: Forum;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #0c0c0e;
  margin-top: 20px;
}

.modal-log-in-email-title {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #0c0c0e;
}

.modal-log-in-pass-title {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #0c0c0e;
}

.modal-log-in-btn {
  width: 75px;
  height: 30px;
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  text-align: center;
  background-color: white;
  border: solid 1px rgb(12, 12, 14, 14);
  cursor: pointer;
}

.modal-log-in-btn:hover {
  border: solid 1px #bb945f;
  color: #bb945f;
}

.modal-reg-btn {
  width: 75px;
  height: 30px;
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  text-align: center;
  background-color: white;
  border: solid 1px rgb(12, 12, 14, 14);
  cursor: pointer;
}

.modal-reg-btn:hover {
  border: solid 1px #bb945f;
  color: #bb945f;
}

.modal-none-acc-wrapper {
  display: flex;
  width: 200px;
}

.modal-none-acc-ask {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #0c0c0e;
  margin-right: 10px;
}

.modal-none-acc-register {
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  text-align: center;
  color: #0c0c0e;
  border-bottom: solid 1px #0c0c0e;
}

.modal-none-acc-register:hover {
  color: #bb945f;
  border-bottom: solid 1px #bb945f;
}

.modal-input {
  border: solid 1px #bb945f;
  margin-top: 10px;
  width: 200px;
  height: 20px;
  padding-left: 5px;
  color: #0c0c0e;
}

.modal-register {                                     /* Modal register */
  width: 250px;
  height: 382px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 5;
}

.modal-register-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 280px;
}


.modal-alredy-acc-log-in {
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  text-align: center;
  color: #0c0c0e;
  border-bottom: solid 1px #0c0c0e;
  cursor: pointer;
}

.modal-alredy-acc-log-in:hover {
  color: #bb945f;
  border-bottom: solid 1px #bb945f;
}

/* media qeries for adaptive */

@media (max-width: 950px) {
  .burger {
    display: flex;
  }
  #sing-icon {
    margin-top: 7px;
  }
}

@media (max-width: 500px) {
  .header-title {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .header-title {
    font-size: 14px;
  }
}