.modal-profile-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.9);
  }
  
  .modal-profile-left-wrapper {
    height: 100%;
    width: 170px;
    background-color: #0c0c0e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .modal-profile-avatar-name {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #bb945f;
    width: 80px;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-profile-name {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    width: 130px;
    height: 30px;
    background-color: white;
    color: #0c0c0e; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .modal-profile-right-wrapper {
    width: 430px;
    height: 100%;
    background-color: white;
    color: #0c0c0e;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 20px;
  }
  
  .modal-profile-title {
    font-family: Forum;
    font-size: 40px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: center;
  }
  
  .modal-profile-characters {
    display: flex;
    justify-content: space-between;
    width: 237px;
  }
  
  .modal-profile-character {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 81px;
  }
  
  .profile-characters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 242px;
    margin-bottom: 20px;
  }
  
  .profile-character {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }
  
  .profile-characters p {
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: center;
  }
  
  .character {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: center;
  }
  
  .score-character {
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: center;
  }
  
  .rented-book-title {
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }
  
  .modal-profile-card-number-wrapper {
    width: 280px;
    display: flex;
    justify-content: space-between;
  }
  
  .rented-book {
    display: flex;
    justify-content: space-between;
  }
  
  .number-card-title, .number-card-in-modal {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }
  
  .number-card-in-modal {
    color: #bb945f;
  }
  
  .copy-icon {
    cursor: pointer;
  }
  
  .copy-icon:hover {
    transform: scale(1.2);
  }
  
  .modal-input-wrapper {
    height: 50px;
  }
  
  .warning {
    font-style: Inter;
    font-size: 10px;
    position: relative;
    top: -38px;
  }